<%- include("partials/header") -%>

<h1>Home</h1>
<p class="para-font"><%= startingContent %></p>

<% postsArray.forEach(function(post){ %>
    <h1 class="para-heading"><%= post.title %></h1>
    <p class="para-font"><%= post.content.substring(0, 500) +"..."%>
        <a href="/posts/<%=post._id%>">Read More</a>
    </p>
<% }); %>

<%- include("partials/footer") -%> 